{% extends 'admin/master.html' %}
{% block head_css %}
    {{ super() }}
{% endblock head_css %}
{% block body %}
<h1 style="text-align:center;">Thống Kê Báo Cáo Doanh Thu</h1>
<div class="row">

    <div class="col-md-6 col-xs-12">
        <table class="table">
            <div class="mt-5">
                <h3>Bảng Thống kê</h3>
            </div>
            <tr>
                <th>Mã Danh Mục</th>
                <th>Tên Danh Mục</th>
                <th>Số Sản Phẩm</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="mt-5">
            <h3>Biểu đồ Thống kê</h3>
        </div>
        <canvas id="myCategoryChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let lables = [], info = []
       {% for s in stats %}
            lables.push('{{ s[1] }}')
            info.push({{ s[2] }})
       {% endfor %}
        window.onload = function() {
            const ctx = document.getElementById('myCategoryChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: lables,
                    datasets: [{
                        label: 'Thống kế số sản phẩm',
                        data: info,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}
