{% extends 'layout/base.html' %}
{% block title %}Danh sách khách hàng{%endblock%}

{% block content %}
<div class="container2">

	<div class="table2">
		<div class="table-header2">
			<div class="header__item2"><lable id="name" class="filter__link2" >STT</lable></div>
			<div class="header__item2"><lable id="wins" class="filter__link2 filter__link--number2" >Họ tên</lable></div>
			<div class="header__item2"><lable id="draws" class="filter__link2 filter__link--number2" >Giói tính</lable></div>
			<div class="header__item2"><lable id="losses" class="filter__link2 filter__link--number2" >Năm sinh</lable></div>
			<div class="header__item2"><lable id="total" class="filter__link2 filter__link--number2" >Địa chỉ</lable></div>
		</div>
		<div class="table-content2">
			<div class="table-row2">
				<div class="table-data2">Tom</div>
				<div class="table-data2">2</div>
				<div class="table-data2">0</div>
				<div class="table-data2">1</div>
				<div class="table-data2">5</div>
			</div>
			<div class="table-row2">
				<div class="table-data2">Tom</div>
				<div class="table-data2">2</div>
				<div class="table-data2">0</div>
				<div class="table-data2">1</div>
				<div class="table-data2">5</div>
			</div>

		</div>
	</div>
</div>
{%endblock%}