{% extends 'layout/base.html' %}
{% block header %}{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="logo">
            <a href="{{url_for('home')}}"><img src="https://iweb.tatthanh.com.vn/pic/3/blog/images/image(5340).png" alt=""></a>
        </div>

        <form method="post" class="p-3 mt-3">
              <div class="box">
                  <select>
                    {% for rl in role_list %}
                      <option value="{{rl.id}}">{{rl.ten_vai_tro}}</option>
                    {% endfor %}
                  </select>
                </div>
              <br><br>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <input  class="btn mt-3" type="submit" value="Đăng nhập"/>
            <a class="btn mt-3" href="{{url_for('home')}}">Thoát</a>
        </form>
        {%if err_msg %}
            <div class ="alert alert-danger">
                <h5 color="red">{{err_msg}}</h5>
            </div>
        {% endif %}
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="#">Sign up</a>
        </div>
    </div>
{%endblock%}

