{% extends 'layout/base.html' %}
{% block title %}Homepage{%endblock%}

{% block content %}
  <div class="form-style-3 wrapper">
    <form>
      <fieldset><legend>Personal</legend>
      <label for="field1"><span>Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
      <label for="field2"><span>Sex <span class="required">*</span></span>
        <select name="field4" class="select-field">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </label>
      <label for="field3"><span>Year of birth <span class="required">*</span></span><input type="number" class="input-field" name="field3" value="" /></label>
      <label for="field4"><span>Address</span><input type="text" class="input-field" name="field4" value="" /></label>
        <label><span> </span><input type="submit" value="Submit" /></label>
      </fieldset>
    </form>
  </div>
{%endblock%}
