{% extends 'layout/base.html' %}
{% block title %}Homepage{%endblock%}

{% block content %}
  <div class="form-style-3 wrapper">
    <label>Đặt lịch hẹn</label>
    <form>
      <fieldset><legend>Số lượng đăng ký còn lại trong ngày của phòng khám: </legend>
      <label for="field1"><span>CCCD <span class="required">*</span></span><input type="text" class="input-field" name="cccd" value="" /></label>
      <label for="field2"><span>Họ và tên đệm <span class="required">*</span></span><input type="text" class="input-field" name="hotendem" value="" /></label>
      <label for="field3"><span>Tên <span class="required">*</span></span><input type="text" class="input-field" name="ten" value="" /></label>
      <label for="field4"><span>Giới tính <span class="required">*</span></span>
        <select name="field4" class="select-field">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </label>
      <label for="field5"><span>Year of birth <span class="required">*</span></span><input type="date" class="input-field" name="field3" value="" /></label>
      <label for="field6"><span>Email</span><input type="text" class="input-field" name="Email" value="" /></label>
      <label for="field6"><span>Sdt</span><input type="text" class="input-field" name="Sdt" value="" /></label>
      <label for="field7"><span>Địa chỉ</span><input type="text" class="input-field" name="diachi" value="" /></label>
        <label><span> </span><input class="btn mt-3" type="submit" value="Xác nhận" /></label>
        <a class="" href="{{url_for('home')}}">Thoát</a>
      </fieldset>
    </form>
  </div>
{%endblock%}
