{% extends 'layout/base.html' %}
{% block content %}
<div class="form-style-3 wrapper">
    <h3>Tạo Phiếu Khám</h3>
    <label>phòng khám Trung Thành</label>
    <form method="post" class="p-3 mt-3">
        <fieldset>
            <legend>Bác Sĩ: {{ current_user.ten_nguoi_dung }}</legend>
            <hr style="border: 1px solid; color: black;">
            <label for="field1"><span>CCCD Khách Hàng <span class="required">*</span></span><input type="text"
                                                                                                   class="input-field"
                                                                                                   name="ten" value=""/></label>
            <label for="field2"><span>Triệu Chứng <span class="required">*</span></span><textarea
                    class="input-field"></textarea></label>
            <label for="field3"><span>Bệnh Chuẩn Đoán <span class="required">*</span></span><textarea
                    class="input-field"></textarea></label>

            <a class="btn mt-3" href="{{ url_for('timkiemthuoc') }}">Tạo đơn thuốc</a>
            <a class="btn mt-3" href="#">Xác Nhận</a>
            <a class="btn mt-3" href="{{url_for('home')}}">Thoát</a>
    </form>
</div>

{%endblock%}