<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{url_for('home')}}">
            <img src="images/logo.png" class="navbar-brand-image img-fluid" alt="Tiya Golf Club">
            <span class="navbar-brand-text">
                                Nam Trang
                                <small>Clinic</small>
                            </span>
        </a>
        <div class="d-lg-none ms-auto me-3">
            <a class="btn custom-btn custom-border-btn" data-bs-toggle="offcanvas" href="#offcanvasExample"
               role="button" aria-controls="offcanvasExample">Member Login</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_1">Trang chủ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/medicalregister">Dịch vụ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_3">Về chúng tôi</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_4">Đội ngũ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_5">Liên hệ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_5">Bài viết</a>
                </li>

                {% if current_user.is_authenticated %}
                {% if current_user.vaitro_id == 1 %}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{url_for('medical_register')}}">Đăng ký khám bệnh</a>
                </li>
                {% elif current_user.vaitro_id == 2 %}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{url_for('taophieukham')}}">Lập phiếu khám</a>
                </li>
                {% elif current_user.vaitro_id == 3 %}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{url_for('paybill')}}">Thanh toán hóa đơn</a>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{{url_for('medical_register')}}">Đặt lịch hẹn</a>
                </li>
                {% endif %}


            </ul>
            {% if current_user.is_authenticated %}
            <div class="d-none d-lg-block ms-lg-3">
                <li class="nav-item dropdown">
                    <a class="btn custom-btn custom-border-btn" href="{{url_for('home')}}" role="button">{{current_user.ten_nguoi_dung}}
                        - {{ current_user.vaitro_id.ten_vai_tro }}</a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="btn custom-btn custom-border-btn" href="{{url_for('user_logout')}}" role="button">Đăng
                            xuất</a></li>
                        <li><a class="btn custom-btn custom-border-btn" href="{{url_for('customer_list')}}"
                               role="button">Danh sách khách hàng</a></li>
                        <li><a class="btn custom-btn custom-border-btn" href="{{url_for('paybill')}}" role="button">Thanh
                            toán hóa đơn</a></li>
                    </ul>
                </li>
            </div>
            {% else %}
            <div class="d-none d-lg-block ms-lg-3">
                <a class="btn custom-btn custom-border-btn" href="login" role="button">Login</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

